[Unit]
Description=OpenWebRX WebSDR receiver

[Service]
Type=simple
User=openwebrx
Group=openwebrx
ExecStart=/usr/bin/openwebrx
Restart=always
Environment="HOME=/tmp"

# Prevent USB lock by killing hung demodulators on restart
KillMode=mixed
TimeoutStopSec=5s
SendSIGKILL=yes

[Install]
WantedBy=multi-user.target
